.main {
  height: 100%;
}

.container {
  margin: 100px, auto;
  padding: 0;
  width: 360px;
  text-align: center;
}

.pad {
  width: 360px;
  height: 360px;
  padding: 10px;
  /* background: #eee; */
}
